.price{
    font-size: 23px;
    font-weight: bold;
}
.mrp{
    font-size: 15px;
    color:#444444;
    text-decoration: line-through;
}
.stars{
    color: #e4dd00;
}
#grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.item{
    height: fit-content;
    z-index: 2;
    position: relative;
    margin: 2%;
    padding:5px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px #00000044;
    transition: box-shadow 500ms;
}
.item:hover{
    box-shadow: 0px 0px 10px #00000088;
}
.item>div{
    background-color: white;
}
.item>img{
    aspect-ratio: 1/1;
    border-radius: 8px;
    width: 100%;
}
#filterMenu{
    width: 100%;
    background:radial-gradient(#ffffff,#e3e9f4);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#filters{
    height: 0px;
    box-shadow: 0px 0px 10px #00000044;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    transition: height 500ms ease-out;
    overflow: hidden;
}
#filters>div{
    padding: 10px;
}
input#lower{
    transform: rotateY(180deg) translateX(-6px);
}
.rangeVals{
    width:30px;
    z-index: 0;
}
.rangeVals::before{
    content: '\20b9';
}
@media only screen and (min-width:600px) {
    #grid{
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}
@media only screen and (min-width:768px) {
    #filters{
        width: 95%;
        height: 550px;
    }
    #filterMenu{
        display: none;
    }
    main{
        display: grid;
        grid-template-columns: 35% 65%;
    }
}